# systemd service file for flicd
# place in /usr/lib/systemd/system

[Unit]
Description=flic bluetooth button service
Wants=bluetooth.target
After=bluetooth.target

[Service]
User=root
Group=root
WorkingDirectory=/var/lib/flic
#PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /var/lib/flic
ExecStart=/usr/local/bin/flicd --db-file /var/lib/flic/flicdb.sqlite --server-addr 0.0.0.0 --log-file /var/log/flicd.log
#ExecStop=/usr/share/openhab2/runtime/bin/stop
# Shutdown delay in seconds, before process is tried to be killed with KILL (if configured)
TimeoutStopSec=120
Restart=on-failure

[Install]
WantedBy=multi-user.target
