# systemd service file for moteinoserver
# place in /usr/lib/systemd/system

[Unit]
Description=server process to communicate with moteino board over iic
After=flicd.service
Before=openhab2.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/moteinoserver
#PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /var/log/moteinoserver
ExecStart=/usr/bin/java -jar /opt/moteinoserver/moteinoserver.jar
#ExecStop=
# Shutdown delay in seconds, before process is tried to be killed with KILL (if configured)
TimeoutStopSec=120
Restart=on-failure

[Install]
WantedBy=multi-user.target
